*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  text-decoration: none;
  list-style: none;
}

l {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: #212121;
}

.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.nav-list a:hover {
  color: #2196F3;
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

header .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ECECEC;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.logo-logo {
  margin-right: 93px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list-li:not(:last-child) {
  margin-right: 50px;
}

.nav-list.studio {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: #212121;
  letter-spacing: 0.02 em;
}

.studio {
  position: relative;
  color: #212121;
  font-weight: 500;
}

.studio::after {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.first {
  position: relative;
  color: #2196F3;
  padding-bottom: 28px;
}

.first::after {
  content: "";
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.studio.first {
  color: #2196F3;
}

.main-nav a {
  color: #212121;
}

.contacts-head a:hover {
  color: #2196F3;
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.contacts-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contacts-head2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.mail {
  margin-right: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mailll {
  color: #757575;
}

.mail-svg {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}

.tell {
  color: #757575;
}

.hero {
  text-align: center;
  background: #2F303A;
  /*left: 0px;
    top: 80px;*/
  padding: 0 15px;
  padding-bottom: 118px;
  padding-top: 118px;
  max-width: 1600px;
  max-height: 600px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid #212121;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/hero.jpg");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 118px;
    padding-top: 118px;
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
  }
}

.hero button {
  font-family: Roboto;
  min-width: 200px;
  padding: 10px 32px;
  height: 50px;
  left: 700px;
  background: #2196F3;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.buttonn {
  color: #FFFFFF;
  padding: 200px 700px;
}

.ability-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .ability-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.ability-icons {
  background: #F5F4FA;
  border-radius: 4px;
  height: 120px;
}

.ability-icon {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 25px;
}

.ability-list {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 47px;
  padding-bottom: 47px;
}

@media screen and (min-width: 768px) {
  .ability-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.ability-list-li {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .ability-list-li {
    width: 354px;
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .ability-list-li {
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .ability-list-li:not(:last-child) {
    margin-bottom: unset;
  }
}

.ability-list h3 {
  color: #212121;
  width: 100%;
  height: 16px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .ability-list h3 {
    text-align: left;
  }
}

.ability-list p {
  color: #757575;
  width: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1200px) {
  .gaget-section {
    display: none;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.gaget-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.gagets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 94px;
}

.img-gagets {
  position: relative;
  margin-top: 50px;
}

.img-gagets.img-gagets:not(:last-child) {
  margin-right: 30px;
}

.whatwedo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.what-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
}

.team-conteiner {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team-conteiner {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}

.team {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.worker {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .worker {
    width: 354px;
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .worker {
    width: 270px;
  }
}

.worker:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .worker:not(:last-child) {
    margin-bottom: unset;
  }
}

.team h3 {
  margin-top: 30px;
  text-align: center;
}

.team p {
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
  margin-top: 10px;
}

.list-masanger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 16px;
}

.list-masanger .li-masanger:not(:last-child) {
  margin-right: 10px;
}

.li-masanger .masanger-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.masanger-link:hover {
  background-color: #2196F3;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mesanger-icon {
  fill: #AFB1B8;
  margin: auto;
}

.mesanger-icon:hover {
  fill: #FFFFFF;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.our-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .our-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .clients {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.clients-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  height: 90px;
}

@media screen and (min-width: 480px) {
  .clients-li {
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-li {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-li {
    width: 170px;
  }
}

.clients-li:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .clients-li:not(:last-child) {
    margin-bottom: unset;
  }
}

.clients-li .svg-link:hover {
  color: #2196F3;
  border: 1px solid #2196F3;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.clients li:not(:last-child) {
    margin-right: 30px;
}*/
.clients-li .svg-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 100%;
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #AFB1B8;
}

.company {
  margin: auto;
  fill: currentColor;
}

footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.adres {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  white-space: nowrap;
}

.adress a {
  font-size: 14px;
  line-height: 1.67;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.footer-cont {
  margin-top: 9px;
}

.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-item li {
  margin-right: 70px;
}

.footer-item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.li-masanger2 .masanger-link2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-item2 .li-masanger2:not(:last-child) {
  margin-right: 10px;
}

.mesanger-icon2 {
  fill: #FFFFFF;
  margin: auto;
}

.masanger-link2:hover {
  background-color: #2196F3;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

b {
  color: #FFFFFF;
}

.footeer-item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: #2F303A;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 10px;
}

.footer-form .button {
  width: 200px;
  height: 50px;
  padding: 10px 29px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  text-align: left;
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  background-color: #2196f3;
}

.icon-send {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
}

.join {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-buttom {
  position: absolute;
  fill: #2196F3, #000;
  top: 8px;
  right: 8px;
}

.form-modal {
  width: 100%;
}

.form-field {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.text-comments {
  margin-bottom: 20px;
}

.icon-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-form {
  white-space: nowrap;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

label {
  margin-bottom: 4px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

input {
  width: 448px;
  height: 40px;
  left: 576px;
  top: 382px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-left: 15px;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  outline: none;
  padding-left: 45px;
}

input:focus {
  border: 1px solid #2196f3;
}

input:hover {
  border: 1px solid #2196f3;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
}

.input:focus ~ .modal-icon {
  fill: #2196f3;
}

.input:hover ~ .modal-icon {
  fill: #2196f3;
}

textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

textarea:focus {
  border: 1px solid #2196f3;
}

textarea:hover {
  border: 1px solid #2196f3;
}

textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.checkbox-field {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.label-rules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.label-rules a {
  color: var(--accent-color);
  text-decoration: underline;
}

.label-rules a:visited {
  color: #2196f3;
  text-decoration: underline;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox:checked + .icon-checkbox {
  background-color: #2196f3;
  border: 2px solid #2196f3;
  background-image: url("../img/iconcheck.svg");
  background-origin: border-box;
}

.btn-submit {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit:hover {
  background-color: #188ce8;
}

.modal-buttom:hover {
  fill: #2196f3;
}

.portfolio {
  color: #212121;
  font-style: normal;
  font-weight: 500;
}

.first {
  color: #2196F3;
}

.portfolio.first {
  color: #2196F3;
}

.guide {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .guide {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.buttom {
  min-width: 73px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background: #F5F4FA;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 6px 22px;
}

.buttom:hover, .buttom:focus {
  background-color: #2196f3;
  color: #FFFFFF;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttom-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .buttom-button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.buttom-button button {
  text-align: center;
  margin-right: 8px;
}

.buttom {
  margin-bottom: 15px;
}

.proects {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .proects {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.name-progect {
  width: 322px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  white-space: nowrap;
  color: #212121;
}

.progect-what {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  font-weight: 400;
}

.progect-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  .progect-list {
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 480px) {
  .progect-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.progect-list-li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.progect-list-li:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .progect-list-li {
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .progect-list-li {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .progect-list-li {
    width: 370px;
  }
}

.progect-list-li:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .progect-list-li:not(:last-child) {
    margin-bottom: unset;
  }
}

.progect-list h3 {
  width: 100%;
}

.progect-list .name-progect {
  margin-top: 20px;
  padding-left: 24px;
}

.progect-list .progect-what {
  width: 100%;
  font-size: 16px;
  line-height: 30px;
  font-family: Roboto;
  color: #757575;
  margin-top: 4px;
  margin-bottom: 20px;
  padding-left: 24px;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.overlay:hover .overlay-p {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.corona {
  position: absolute;
  height: 50%;
  width: 322px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

img {
  display: block;
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=main.css.map */