.btn-menu {
    border: $color-wight;
    background-color: transparent;
    @media screen and (min-width: 768px) {
      display: none;
    }
    &_icon {
      margin: 0 auto;
      fill: currentColor;
    }
    .icon {
      &-close {
        display: none;
      }
      &-menu {
        display: block;
      }
    }
    &.is-open {
      .icon {
        &-close {
          display: block;
        }
        &-menu {
          display: none;
        }
      }
    }
    &:hover,
    &:focus {
      .icon {
        fill: $accent-color;
      }
    }
  }