$color-black: #212121;
$color-gray: #757575;
$color-wight: #FFFFFF;
$color-blue: #2196F3;
$color-gray-transparent: rgba(255, 255, 255, 0.6);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$primary-text-color: #212121;
$accent-color: #2196f3;
$input-border-color: rgba(33, 33, 33, 0.2);
$form-text-color: rgba(117, 117, 117, 0.5);
$secondary-text-color: #757575;